.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    left: 74% ;
    margin-top: 80px;
  
}
.portraitImage{
   width: 100%;
   max-width: 200px;
   border-radius: 50%;

}
.darkCircle{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50% ;
    background-color: #000;
    filter: drop-shadow(-16px 16px 0px #f3f3f3);
}


/*Mobile Phones*/
@media only screen and (max-width: 600px) {
    .frame{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        position: absolute;
        z-index: 9;
        margin-top: -40vh;
        left: 0% ;
      
    }
    .darkCircle{
        display: none;
    }
}


  /*Ipads*/

  @media only screen and (min-device-width: 760px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
   .frame{
       left: 62%;
   }
}