textarea{
    width: calc(50% - 20px);
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding: 10px;
    border: 2px solid #000;

}
textarea:focus{
    outline: none;
    border: 2px solid #fcb042;
    transition: 300ms all ease-in-out;
}
.framedTextArea{
    display: flex;
    width: 100%;
    margin: auto;
    /* align-items: center; */
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 120px;
}
.framedTextArea > img{
        position: absolute;
        z-index: -999;
        width: 60%;
   
    
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 600px) {
     .framedTextArea{
         width: calc(100% - 20px);
         margin-top: 0px;
         margin-bottom: 50px;
     }
     .framedTextArea > img{
       display: none;
     }
     textarea{
        width: calc(90% - 10px);
        font-size: .9rem;
     }
}
@media only screen and (min-device-width: 760px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .framedTextArea{
        width: 100%;
    
        margin-bottom: 50px;
    }
    .framedTextArea > img{
        width: 80%;
    }
    textarea{
        width: 60%;
    }
}